body {
    margin: 0;
    background: yellow;
}

#container {
    width: 900px;
}

#header {
    width: 100%;
    height: 100px;
}

#navi {
    width: 200px;
    float: left;
}

.page {
    position: absolute;
    margin-left: 200px;
    width: 680px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
