body {
    margin: 0;
    background: greenyellow;
}

#container {
    width: 900px;
}

#header {
    width: 100%;
    height: 100px;
}

#navi {
    width: 200px;
    float: left;
}

.page {
    position: absolute;
    margin-left: 200px;
    width: 680px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

a.menu_button {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: blue;
    padding: .5em .5em;
    outline: none;
}
a.menu_button:hover { background: darkblue; }
a.menu_button:active { background: white; }